<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qqty.crashsdk">

    <application>

        <activity
            android:name=".DefaultErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name=".CrashInitProvider"
            android:authorities="${applicationId}.CrashInitProvider"
            android:exported="false"
            android:initOrder="101" />

    </application>
</manifest>

